<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>acte de naissance</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
</head>

<body>
    <p>Fait le date à lieu</p>
    <p></p>
    <p></p>
    <p class="fs-2 text-center">Acte de marriage</p>
    <p class="fs-5 text-start">Nom:</p>
    <p class="fs-5">Prénom:<br></p>
    <p class="fs-5">Lieu de naissance:<br></p>
    <p class="fs-5">date de naissance:&nbsp;<br></p>
    <p class="fs-5">Père:<br></p>
    <p class="fs-6">Mère:<br></p>
    <p class="fs-2 text-center"></p>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-lg-1"></div>
            <div class="col-md-4 col-lg-8 col-xl-8">
                <p class="fs-2 text-center"><br>Nom, Prénom né le date à lieu, fils/fille de Père et de Mère est confirmé marié à Nom-marié,prénom marié Fils/Fille de Père mariée et de mère mariée&nbsp;<br></p>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>