<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>page_acc_employes</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/Navbar-Centered-Links-icons.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md py-3">
        <div class="container-fluid"><a class="navbar-brand d-flex align-items-center" href="#"><img src="imgs/logo.jpg"style="height:80px;" alt="" srcset=""><span>Next-gen-govt</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-2">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                </ul><a class="btn btn-primary ms-md-2" role="button" href="#"><i class="fas fa-home"></i>Accueil</a><a class="btn btn-primary ms-md-2" role="button" href="confirmer les demandes.html"><i class="fas fa-plus"></i>Confirmer une demande</a><a class="btn btn-primary ms-md-2" role="button" href="#"><i class="fas fa-sign-in-alt"></i>deconnexion</a>
            </div>
        </div>
    </nav>
    <div class="row container-fluid">
        <div class="col">
            <section class="py-4 py-xl-5">
                <div class="container">
                    <p class="fs-1 fw-light text-center text-primary">Bienvenue sur la partie employé ici vous pouvez consulter la liste des demandes effectuées et ainsi confirmer par la suite</p>
                </div>
            </section>
        </div>
    </div>
    <div class="row container-fluid">
        <div class="col text-center"><img src="imgs/Adduser.jpg"style="height:300px;" alt="" srcset=""></div>
    </div>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>