{% extends 'base.html.twig' %}

{% block title %}Edit Porte{% endblock %}

{% block body %}
    <h1>Edit Porte</h1>

    {{ include('porte/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_porte_index') }}">back to list</a>

    {{ include('porte/_delete_form.html.twig') }}
{% endblock %}
