<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap.rtl.css">
    <link rel="stylesheet" href="css/bootstrap.rtl.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Se connecter</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-light" data-bs-theme="dark">
        <div class="container-fluid">
          <span class="navbar-brand" href="#"><img src="assets/logo.jpg" style="width: 80px;"alt="" srcset=""><span class="text-primary">Next-gen-govt</span></span>
          <div class=" navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
            </ul>
            <a href="Aboutus.html"><input type="button" value="A propos" class="btn btn-light text-primary border-primary" style="border-radius :15px;"></a>
          </div>
        </div>
      </nav>
      <div class="row">
        <h1 class="text-center text-primary">
            Formulaire d'inscription ici
        </h1>
      </div>
</body>
</html>